body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
  min-width: 1280px;
}

/*Общие стили*/

.visually-hidden {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.main-navigation ul {
  list-style: none;
}

.button {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 30px;

  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

/********Хедер***********/

.index-nav a {
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  text-decoration: none;
}

.index-nav a:hover,
.index-nav a:focus {
  color: #81b3d2;
}

.index-nav a:active {
  color: #b2b2b2;
}

.index-nav .current-page {
  color: #766357;
}

/****** Основное содержание  ******/

.main-features h2 {
  font-weight: bold;
  font-size: 21px;
  color: #000000;
  line-height: 26px;
}

.feature-item-big {
  background-color: #81b3d2;
  color: #ffffff;
}

.feature-wrapper b {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;

}

.feature-wrapper p {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.features-list-1 {
  list-style: none;
}

.features-list-1 li,
.features-list-2 li {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
}

.features-list-1 p,
.features-list-2 p {
font-size: 14px;
line-height: 21px;
font-weight: 400;
color: #333333;
}

.index-column {
  background-color: #eeeeee;
}

.booking strong {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.booking p {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.booking-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.booking-header button {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;

  background-color: #766357;
}

.booking-header button:hover,
.booking-header button:focus {
  background-color: #604e43;
}

.booking-header button:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #503e33;
}

.booking-form {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  box-shadow: none;
}

.booking-form input {
  font: inherit;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
}

.booking-form input:hover,
 {
  background-color: #f2f2f2;
}

.booking-form input:focus,
.booking-form input:active {
  background-color: #ffffff;
  box-shadow:2px 2px 0 0 #f2f2f2 inset;
}

.booking-form .button {
  text-align: center;

  font-style: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;

  background-color: #81b3d2;
}

.booking-form .button:hover {
  background-color: #669ec0;
}

.booking-form .button:focus,
.booking-form .button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.5);
}

.filter ul {
  list-style: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}



.form-column {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 255px;
  height: 220px;
  outline: 2px solid black;
}

.form-column fieldset {
  border: none;
}

.form-column ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 200px;

  margin: 0px;
  padding: 0;
  list-style: none;

  padding-top: 20px;

  outline: 2px solid red;
}

.filter-option {
  position: relative;
  cursor: pointer;
  width: 100px;
  margin-bottom: 26px;
  margin-left: 20px;
  padding-left: 50px;
  outline: 2px solid green;
}

.fiter-option:before {
  content: "";

  position: absolute;

  width: 16px;
  height: 18px;

  background-color: #000000;
}

.filter-option-name {
  display: block;
  text-align: left;

  padding-top: 30px;
  padding-left: 45px;


  width: 100%;
  outline: 2px solid orange;
}

.filter-option label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}



/*** ФУТЕР ***/

.main-footer p {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #81b3d2;
}

.footer-copyright h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
}



.hotels-booking {
  display: flex;
  background-image: url("../img/bg-blurred.jpg");
  background-color: #4c565e;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;
}

.range-output .range-min,
.range-output .range-max {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}


.show-results:hover {
  color: #000000;
  background-color: #ffffff;
}

.search-sort b {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.search-sort p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.search-sort ul {
  list-style: none;
}

.sort-option a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0,5);
  text-decoration: underline #81b3d2;
  text-decoration-style: dotted;
}

.sort-option a:hover,
.sort-option a:focus {
  color: #81b3d2;
}

.sort-option a:active {
  text-decoration: none;
  color: #000000;
}

.current-option {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #81b3d2;

  text-decoration: none;
}
.search-results ul {
  list-style: none;
}

.search-results-item b {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.search-results-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.hotel-rating {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  background-color: #f2f2f2;
}

.search-results-item .button {
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  text-align: center;
}

.button-more {
  background-color: #81b3d2;
}

.button-book {
  background-color: #766357;
}

.button-more:hover,
.button-more:focus {
  background-color: #669ec0;
}

.button-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.5);
}

.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.5);
}

.wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width:1200px;
  padding: 0 40px;

  background-color: #f2f2f2;
}

.index-nav  {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  flex-wrap: wrap;

  z-index: 5;

  margin: 0;
  padding: 0;
  list-style: none;

  width: 1200px;
  min-height: 55px;

  background-color: #ffffff;
  box-shadow: 0 5 15 0 0.2;

}

.index-nav li {
  width: 20%;
  padding: 12px 0;
}

.index-nav li:nth-of-type(2) {
  margin-right: 92px;
}

.index-nav li:first-child,
.index-nav li:nth-child(2) {
  text-align: left;
}


.index-nav li:last-child,
.index-nav li:nth-child(4) {
  text-align: right;
}

.header-logo {
  position: absolute;
  left: 285px;
  z-index: 10;
}

.welcome-image {
  background-image: url("../img/index-background.jpg");
  width: 1200px;
  min-height: 800px;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.container {
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.feature-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: -192px;
  min-height: 170px;
}

.feature-text-wrapper h2 {
  width: 455px;
  min-height: 65px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: -10px;
}

.feature-text-wrapper p {
  width: 630px;
  min-height: 35px;
  text-align: center;
}

.feature-item-big {
  display: flex;
  align-items: center;

  min-height: 256px;
  margin-bottom: 0;
}

.reverse{
  flex-direction: row-reverse;
}

.feature-wrapper {
  text-align: center;
}

.feature-wrapper b {
  display: inline-block;
  width: 175px;

}

.feature-wrapper p {
  display: inline-block;
  width: 302px;
}

.feature-wrapper p:first-of-type {
  margin-top: 16px;
  margin-bottom: 0;
}

.features-list-1,
.features-list-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 257px;
}

.features-list-1 {
  background-color: #ffffff;
  min-height: 330px;
}

.list-1-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

.list-1-item img {
  height: 75px;
  margin-bottom: 28px;
}

.list-1-item b {
  height: 28px;
  margin-bottom: 5px
}

.list-1-item p {
  height: 44px;
  width: 290px;
}

.features-item-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.features-item-small b {
  width: 125px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.features-item-small p {
  width: 275px;
}

.features-list-1 li,
.features-list-2 li {
  width: 400px;
  text-align: center;
}

.booking-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  min-height: 291px;

  background-color: #ffffff;
}

.booking-header strong {
  padding-top: 53px;
  margin-bottom: 0px;
  text-align: center;
}

.booking-header p {
  text-align: center;
  padding-bottom: 20px;
}

.booking-header button {
  width: 568px;
  min-height: 85px;
  text-align: center;
  margin-bottom: 0px;
  margin-left: 20px;
}

.map-placeholder {
  margin-top: auto;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-footer {
  display: flex;
  justify-content: space-between;
  min-height: 120px;

  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.index {
  position: absolute;
  left: 40px;
  bottom: 0;
}

.main-footer p {
  width: 400px;
  text-align: center;
  padding-top: 25px;

}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}



.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.footer-copyright p {
  height: 50px;
  width: 80px;

  text-align: center;
  padding-right: 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.footer-social ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 150px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 46px;
  height: 48px;

  background-color: #81b3d2;

}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: rgba(136, 182, 209, 0.5);
}

.dev-logo:hover path,
.dev-logo:focus path {
  pointer-events: none;
  fill: #81b3d2;
}

.dev-logo:active path {
  pointer-events: none;
  fill: rgba(0, 0, 0, 0.5);
}


.filter {
  display: flex;
  align-items: center;

  min-height: 220px;
}



.price {
  width: 440px;
  margin-left: auto;

  min-height: 220px;
}

.search-sort {
  display: flex;
  align-items: center;
  text-align: center;

  min-height: 86px;

  background-color: #ffffff;
}

.search-column {
  width: 225px;
  }

.search-sort p {
  width: 130px;
  text-align: center;
}

.search-sort ul {
  display: flex;
  align-items: baseline;

  text-align: center;
  margin: 0;
  padding: 0;

  list-style: none;
  width: 375px;
}

.search-arrows {
  width: 35px;

  margin-right: 73px;
  margin-left: auto;
}

.search-results ul {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;

  min-height: 454px;
  background-color: #ffffff;
}

.search-results-item {
  min-height: 152px;
}




.booking-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 2168px;
  left: 358px;
  width: 568px;
  height: 395px;
  background-color: #ffffff;
}

.booking-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 0;
  margin-top: 25px;
  width: 468px;
  height: 210px;
    outline: 2px solid red;

}

.booking-form-item {
  height: 40px;
  margin-bottom: 15px;
  outline: 2px solid red;
}


.booking-form-item p {
  display: block;
  text-align: center;
}

.booking-form-item label {
  display: block;
}


.booking-form-item input {
  box-sizing: border-box;
  width: 345px;
  height: 40px;
  outline: 2px solid red;
}

.btn-find {
  font-size: 21px;
  line-height: 26px;
  margin-left: 15px;
  margin-bottom: 23px;
  width: 457px;
  height: 60px;
}

.hotels-booking {
  padding-top: 55px;
  display: flex;
  justify-content: space-between;
  min-height: 218px;
  outline: 2px solid red;
}

.price {
  outline: 2px solid red;
}

.filter-range {
  width: 315px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}
