body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
  width: 1280px;
  min-height: 2760px;
}

.visually-hidden {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.main-navigation ul {
  list-style: none;
}

.index-nav a {
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  text-decoration: none;
}

.index-nav a:hover,
.index-nav a:focus {
  color: #81b3d2;
}

.index-nav a:active {
  color: #b2b2b2;
}

.index-nav .current-page {
  color: #766357;
}

.main-features h2 {
  font-weight: bold;
  font-size: 21px;
  color: #000000;
  line-height: 26px;
}

.feature-item-big {
  background-color: #81b3d2;
  color: #ffffff;
}

.feature-wrapper b {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;

}

.feature-wrapper p {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.features-list-1 {
  list-style: none;
}

.features-list-1 li,
.features-list-2 li {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
}

.features-list-1 p,
.features-list-2 p {
font-size: 14px;
line-height: 21px;
font-weight: 400;
color: #333333;
}

.index-column {
  background-color: #eeeeee;
}

.booking strong {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.booking p {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}


.booking-header a {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;

  background-color: #766357;
}

.booking-header a:hover,
.booking-header a:focus {
  background-color: #604e43;
}

.booking-header a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #503e33;
}

.booking-form {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  box-shadow: none;
}

.booking-form input {
  font: inherit;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
}

.booking-form input:hover,
 {
  background-color: #f2f2f2;
}

.booking-form input:focus,
.booking-form input:active {
  background-color: #ffffff;
  box-shadow:2px 2px 0 0 #f2f2f2 inset;
}

.booking-form .button {
  text-align: center;

  font-style: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;

  background-color: #81b3d2;
}

.booking-form .button:hover {
  background-color: #669ec0;
}

.booking-form .button:focus,
.booking-form .button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.5);
}
.main-footer p {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #81b3d2;
}

.footer-copyright h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
}

.filter fieldset {
  border: none;
}

.filter ul {
  list-style: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filter-option label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.hotels-booking {
  background-image: url("img/bg-blurred.jpg");
  background-color: #4c565e;
  background-position: top;
  background-repeat: no-repeat;
}

.range-output .range-min,
.range-output .range-max {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.show-results {

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;

  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.show-results:hover {
  color: #000000;
  background-color: #ffffff;
}

.search-sort b {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.search-sort p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.search-sort ul {
  list-style: none;
}

.sort-option a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0,5);
  text-decoration: underline #81b3d2;
  text-decoration-style: dotted;
}

.sort-option a:hover,
.sort-option a:focus {
  color: #81b3d2;
}

.sort-option a:active {
  text-decoration: none;
  color: #000000;
}

.current-option {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #81b3d2;

  text-decoration: none;
}
.search-results ul {
  list-style: none;
}

.search-results-item b {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.search-results-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.hotel-rating {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  background-color: #f2f2f2;
}

.search-results-item .button {
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  text-align: center;
}

.button-more {
  background-color: #81b3d2;
}

.button-book {
  background-color: #766357;
}

.button-more:hover,
.button-more:focus {
  background-color: #669ec0;
}

.button-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.5);
}

.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.5);
}

.wrapper {
  margin-right: auto;
  margin-left:  auto;

  max-width: 1200px;

  padding-right: 40px;
  padding-left:  40px;

  background-color: #f2f2f2;
}


.index-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: 1px solid green;

  z-index: 5;

  margin: 0;
  padding: 0;
  list-style: none;
  width: 1200px;
  min-height: 55px;

  background-color: #ffffff;

}

.index-nav li {
  width: 239px;
  text-align: center;
}

.index-nav li:nth-of-type(2) {
  margin-left: -243px;
}

.index-nav li:nth-of-type(3) {
  margin-right: -245px;
}

.header-logo {
  position: absolute;
  left: 285px;
  z-index: 10;
}

.welcome-image {
  background-image: url("../img/index-background.jpg");
  width: 1200px;
  min-height: 800px;

}


.feature-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: -192px;
  min-height: 170px;
  outline: 1px solid red;
}

.feature-text-wrapper h2 {
  width: 455px;
  min-height: 65px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: -10px;
}

.feature-text-wrapper p {
  width: 630px;
  min-height: 35px;
  text-align: center;
}

.feature-item-big {
  display: flex;
  align-items: center;

  min-height: 256px;
  margin-bottom: 0;
}

.reverse{
  flex-direction: row-reverse;
}

.feature-wrapper {
  text-align: center;
}

.features-list-1,
.features-list-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 257px;
}

.features-list-1 {
  background-color: #ffffff;
  min-height: 330px;
}

.features-list-1 {

}

.features-list-1 li,
.features-list-2 li {
  width: 400px;
  text-align: center;
}

.booking-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  min-height: 885px;

  background-color: #ffffff;
}
.booking-header a {
  margin-top: auto;

  width: 572px;
  min-height: 85px;
  text-align: center;
}

.map-placeholder {
  margin-top: auto;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  min-height: 120px;

}

.main-footer p {
  width: 400px;
  text-align: center;
}

.footer-social {
  width: 400px;
}

.footer-social ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-copyright {
  width: 400px;
}
